In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.datasets import load_iris

In [3]:
data = pd.read_csv('telecom_customer_churn.csv')

In [4]:
for column in data:
    print(f'{column}: {data[column].unique()}')

Customer ID: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Gender: ['Female' 'Male']
Age: [37 46 50 78 75 23 67 52 68 43 47 25 58 32 39 72 79 26 30 22 34 42 64 48
 28 33 31 60 69 20 57 19 38 54 35 51 66 61 24 55 59 71 49 40 21 45 29 62
 76 77 73 41 56 80 63 53 44 70 74 36 27 65]
Married: ['Yes' 'No']
Number of Dependents: [0 3 1 2 4 6 5 9 7 8]
City: ['Frazier Park' 'Glendale' 'Costa Mesa' ... 'Jacumba' 'Carpinteria'
 'Meadow Valley']
Zip Code: [93225 91206 92627 ... 91934 93013 95956]
Latitude: [34.827662 34.162515 33.645672 ... 32.649787 34.441398 39.937017]
Longitude: [-118.999073 -118.203869 -117.922613 ... -116.2237   -119.513163
 -121.058043]
Number of Referrals: [ 2  0  1  3  8  9 10  5  4  7  6 11]
Tenure in Months: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42]
Offer: ['None' 'Offer E' 'Offer D' 'Offer A' 'Offer B' 'Offer C']
Phone Service: ['Yes' 'No']
Avg Monthly Long Distance Charges: [42.39 10.69 33.65 ... 10.04 25.59  2.01]
Multiple Lines: ['No' 'Yes' nan]
Internet Service: ['Yes' 'No']
Internet Type: ['Cable' 'Fiber Optic' 'DSL' nan]
Avg Monthly GB Download: [16. 10. 30.  4. 11. 73. 14.  7. 21. 59. 19. 12. 20. 22. 17.  9. nan 52.
 57. 51. 41. 23. 27.  2. 69. 53. 15. 29. 85. 28. 18. 48. 25. 26.  8.  6.
  5. 13. 75. 82. 24. 76. 47. 71. 58. 42.  3. 56. 46. 39.]
Online Security: ['No' 'Yes' nan]
Online Backup: ['Yes' 'No' nan]
Device Protection Plan: ['No' 'Yes' nan]
Premium Tech Support: ['Yes' 'No' nan]
Streaming TV: ['Yes' 'No' nan]
Streaming Movies: ['No' 'Yes' nan]
Streaming Music: ['No' 'Yes' nan]
Unlimited Data: ['Yes' 'No' nan]
Contract: ['One Year' 'Month-to-Month' 'Two Year']
Paperless Billing: ['Yes' 'No']
Payment Method: ['Credit Card' 'Bank Withdrawal' 'Mailed Check']
Monthly Charge: [65.6  -4.   73.9  ... 91.75 68.8  67.85]
Total Charges: [ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]
Total Refunds: [ 0.   38.33 21.25 30.53 44.42 44.9  12.26  6.11 10.23 13.03 36.02 17.91
  1.01 16.99 25.24 27.01  9.73 44.53 38.46 16.56  4.73 18.88  8.13  8.74
 11.37  1.31 33.8  49.76 16.97 14.21 16.73 49.02  2.28  9.35 41.74 13.01
 27.38 23.97 14.23 18.55  1.48  5.15 33.25 41.33 33.43 22.96 11.45 17.17
 24.99 26.37 38.42 11.72 29.21 45.75 47.79 29.   15.76 17.6  15.17 14.57
 26.32 25.62 20.45 37.06 43.66 28.7  22.34 49.79 46.66  6.26 38.37 49.24
  3.55  7.3  16.96  3.85 34.83 23.39 23.72 33.13 43.76 26.02 40.62 48.54
 10.76 35.34 14.15 12.81 24.07 45.61 16.89  4.18 33.67 17.96 26.99 20.17
 21.81 47.04 12.55 32.65 34.44 36.61 45.44  6.79 48.25 41.66 18.62 20.29
 11.05 15.41 49.37 45.07 36.29 33.24 29.17 29.64  6.65  4.7  33.1  31.05
 42.57 45.38 25.79 11.8  34.67 36.04 39.68 16.38 36.92 24.08  5.83 45.81
 49.06 12.66 41.23 30.14 46.06  3.34 19.31 44.13 35.28 44.17 37.45  3.33
 31.58  2.62 36.66 38.84 17.14 12.48 38.65 11.83 22.55 16.27  8.88 18.85
 46.99 44.63  1.69  8.96 49.38 24.98 17.76 23.16 16.91 33.73  2.93 48.59
 37.37 12.07 31.9  12.59 44.81 26.7  28.63 21.08 13.37  1.09 23.13 37.03
 40.95 25.57 44.51  2.18  9.49 49.57 14.3  15.57 17.3   8.35 27.15 37.49
 41.18  9.48 28.98 16.85 21.35 13.07 48.95 17.19 46.75 21.52 37.68  5.44
 23.89 37.01 36.6  11.85 18.21  5.49 42.18 38.09 28.49  4.25 19.5  28.35
 37.55 47.19 46.67 18.17 17.01 27.6   9.22 18.78  9.68 10.28 43.68 44.16
  3.51 29.76 21.58 39.99 15.24  5.9  16.86 13.43 47.36  6.72 15.2  24.92
 15.73  5.73  3.2   4.93 40.64 27.24 46.07 24.36 19.32 29.88 36.52 17.16
 38.15 19.67 29.5  17.03 29.29 10.47 45.6  35.44 29.41  8.3  29.93 20.28
 28.09 37.04 45.82 43.25 37.44 40.54 46.39 39.45 18.64 27.09  1.83 47.91
 48.79  7.43  5.55  7.39 14.24 47.45 32.71 28.93 15.43 14.67 39.27 25.67
 25.49 24.44  2.76 19.16  2.24 38.61 29.11 25.98 43.31 21.9  46.78 20.23
 36.4  47.59 41.85 38.57 27.89 29.95 44.31 26.83 45.47 14.78  6.41  4.48
 25.84 19.25 36.07 20.16 14.22  9.99 34.69 37.64 45.37 22.97 22.4  15.02
 36.13 32.55 43.95 47.73 39.93 23.79 11.    1.99  4.68  2.81 15.31 35.23
  5.47 40.79 25.07 48.23  3.26  4.6   1.66 18.89 40.   36.38 35.01 30.75
 29.84 45.54 30.45 25.42 49.22 47.87 42.64 39.92  9.39  5.01 43.96 49.53
 12.19 49.51 45.69 41.67 27.3  42.34 35.7   8.53 36.44 21.71 38.98 46.64
 34.59 19.63 14.93  3.59 23.01 40.41 49.23 40.46 21.72 23.28 28.42 22.53
 35.05 43.38 29.59 32.59 30.26 33.07 28.83 42.29 30.46  8.5  46.26 18.72
 21.53 25.55 26.87 21.6  17.33 10.7   4.08 41.2  47.2  33.29 17.88 30.22
 34.29 34.16 26.84 35.61 18.39 47.02 10.65 42.89 20.87 41.21 16.12 43.12
 32.46 12.16 22.72 44.86 16.26 19.89 29.32 44.58 36.78 35.82 32.53 38.34
 28.08 23.33 14.49 23.67  2.97 23.47 24.9  48.61 14.76  2.21 27.79 48.09
 26.55 21.32 15.38 34.47 38.48  4.76  1.27 17.05 19.12 23.92 34.09  9.79
 39.15 29.99 33.21  2.29 32.09 48.66 21.69 11.48 46.81  4.96 18.84 42.43
 16.58 10.17 48.26  1.65 23.61  9.34 17.5  12.8  32.24 34.45 15.62 39.18
 40.15 39.29 36.22 21.17 25.92 47.55 33.76 23.5  10.57 20.19 44.   46.56
 45.46  6.49 19.13 26.98 31.39 16.36  9.36 10.2 ]
Total Extra Data Charges: [  0  10  20  40 120 100 130 110  60 140  50  80 150  70  30  90]
Total Long Distance Charges: [381.51  96.21 134.6  ... 356.4   37.24 142.04]
Total Revenue: [ 974.81  610.28  415.45 ...  129.99 4769.69 3707.6 ]
Customer Status: ['Stayed' 'Churned' 'Joined']
Churn Category: [nan 'Competitor' 'Dissatisfaction' 'Other' 'Price' 'Attitude']
Churn Reason: [nan 'Competitor had better devices' 'Product dissatisfaction'
 'Network reliability' 'Limited range of services'
 'Competitor made better offer' "Don't know" 'Long distance charges'
 'Attitude of service provider' 'Attitude of support person'
 'Competitor offered higher download speeds'
 'Competitor offered more data' 'Lack of affordable download/upload speed'
 'Deceased' 'Moved' 'Service dissatisfaction' 'Price too high'
 'Lack of self-service on Website' 'Poor expertise of online support'
 'Extra data charges' 'Poor expertise of phone support']

In [5]:
data = data.drop(columns = ['Customer ID', 'City', 'Zip Code', 'Longitude', 'Latitude', 'Avg Monthly Long Distance Charges'])

In [6]:
data['MRR'] = (data['Total Revenue'] + data['Total Refunds'] - data['Total Extra Data Charges'] - data['Total Long Distance Charges'])/data['Tenure in Months']

In [7]:
for column in data:
    print(f'{column}: {data[column].unique()}')

Gender: ['Female' 'Male']
Age: [37 46 50 78 75 23 67 52 68 43 47 25 58 32 39 72 79 26 30 22 34 42 64 48
 28 33 31 60 69 20 57 19 38 54 35 51 66 61 24 55 59 71 49 40 21 45 29 62
 76 77 73 41 56 80 63 53 44 70 74 36 27 65]
Married: ['Yes' 'No']
Number of Dependents: [0 3 1 2 4 6 5 9 7 8]
Number of Referrals: [ 2  0  1  3  8  9 10  5  4  7  6 11]
Tenure in Months: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42]
Offer: ['None' 'Offer E' 'Offer D' 'Offer A' 'Offer B' 'Offer C']
Phone Service: ['Yes' 'No']
Multiple Lines: ['No' 'Yes' nan]
Internet Service: ['Yes' 'No']
Internet Type: ['Cable' 'Fiber Optic' 'DSL' nan]
Avg Monthly GB Download: [16. 10. 30.  4. 11. 73. 14.  7. 21. 59. 19. 12. 20. 22. 17.  9. nan 52.
 57. 51. 41. 23. 27.  2. 69. 53. 15. 29. 85. 28. 18. 48. 25. 26.  8.  6.
  5. 13. 75. 82. 24. 76. 47. 71. 58. 42.  3. 56. 46. 39.]
Online Security: ['No' 'Yes' nan]
Online Backup: ['Yes' 'No' nan]
Device Protection Plan: ['No' 'Yes' nan]
Premium Tech Support: ['Yes' 'No' nan]
Streaming TV: ['Yes' 'No' nan]
Streaming Movies: ['No' 'Yes' nan]
Streaming Music: ['No' 'Yes' nan]
Unlimited Data: ['Yes' 'No' nan]
Contract: ['One Year' 'Month-to-Month' 'Two Year']
Paperless Billing: ['Yes' 'No']
Payment Method: ['Credit Card' 'Bank Withdrawal' 'Mailed Check']
Monthly Charge: [65.6  -4.   73.9  ... 91.75 68.8  67.85]
Total Charges: [ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]
Total Refunds: [ 0.   38.33 21.25 30.53 44.42 44.9  12.26  6.11 10.23 13.03 36.02 17.91
  1.01 16.99 25.24 27.01  9.73 44.53 38.46 16.56  4.73 18.88  8.13  8.74
 11.37  1.31 33.8  49.76 16.97 14.21 16.73 49.02  2.28  9.35 41.74 13.01
 27.38 23.97 14.23 18.55  1.48  5.15 33.25 41.33 33.43 22.96 11.45 17.17
 24.99 26.37 38.42 11.72 29.21 45.75 47.79 29.   15.76 17.6  15.17 14.57
 26.32 25.62 20.45 37.06 43.66 28.7  22.34 49.79 46.66  6.26 38.37 49.24
  3.55  7.3  16.96  3.85 34.83 23.39 23.72 33.13 43.76 26.02 40.62 48.54
 10.76 35.34 14.15 12.81 24.07 45.61 16.89  4.18 33.67 17.96 26.99 20.17
 21.81 47.04 12.55 32.65 34.44 36.61 45.44  6.79 48.25 41.66 18.62 20.29
 11.05 15.41 49.37 45.07 36.29 33.24 29.17 29.64  6.65  4.7  33.1  31.05
 42.57 45.38 25.79 11.8  34.67 36.04 39.68 16.38 36.92 24.08  5.83 45.81
 49.06 12.66 41.23 30.14 46.06  3.34 19.31 44.13 35.28 44.17 37.45  3.33
 31.58  2.62 36.66 38.84 17.14 12.48 38.65 11.83 22.55 16.27  8.88 18.85
 46.99 44.63  1.69  8.96 49.38 24.98 17.76 23.16 16.91 33.73  2.93 48.59
 37.37 12.07 31.9  12.59 44.81 26.7  28.63 21.08 13.37  1.09 23.13 37.03
 40.95 25.57 44.51  2.18  9.49 49.57 14.3  15.57 17.3   8.35 27.15 37.49
 41.18  9.48 28.98 16.85 21.35 13.07 48.95 17.19 46.75 21.52 37.68  5.44
 23.89 37.01 36.6  11.85 18.21  5.49 42.18 38.09 28.49  4.25 19.5  28.35
 37.55 47.19 46.67 18.17 17.01 27.6   9.22 18.78  9.68 10.28 43.68 44.16
  3.51 29.76 21.58 39.99 15.24  5.9  16.86 13.43 47.36  6.72 15.2  24.92
 15.73  5.73  3.2   4.93 40.64 27.24 46.07 24.36 19.32 29.88 36.52 17.16
 38.15 19.67 29.5  17.03 29.29 10.47 45.6  35.44 29.41  8.3  29.93 20.28
 28.09 37.04 45.82 43.25 37.44 40.54 46.39 39.45 18.64 27.09  1.83 47.91
 48.79  7.43  5.55  7.39 14.24 47.45 32.71 28.93 15.43 14.67 39.27 25.67
 25.49 24.44  2.76 19.16  2.24 38.61 29.11 25.98 43.31 21.9  46.78 20.23
 36.4  47.59 41.85 38.57 27.89 29.95 44.31 26.83 45.47 14.78  6.41  4.48
 25.84 19.25 36.07 20.16 14.22  9.99 34.69 37.64 45.37 22.97 22.4  15.02
 36.13 32.55 43.95 47.73 39.93 23.79 11.    1.99  4.68  2.81 15.31 35.23
  5.47 40.79 25.07 48.23  3.26  4.6   1.66 18.89 40.   36.38 35.01 30.75
 29.84 45.54 30.45 25.42 49.22 47.87 42.64 39.92  9.39  5.01 43.96 49.53
 12.19 49.51 45.69 41.67 27.3  42.34 35.7   8.53 36.44 21.71 38.98 46.64
 34.59 19.63 14.93  3.59 23.01 40.41 49.23 40.46 21.72 23.28 28.42 22.53
 35.05 43.38 29.59 32.59 30.26 33.07 28.83 42.29 30.46  8.5  46.26 18.72
 21.53 25.55 26.87 21.6  17.33 10.7   4.08 41.2  47.2  33.29 17.88 30.22
 34.29 34.16 26.84 35.61 18.39 47.02 10.65 42.89 20.87 41.21 16.12 43.12
 32.46 12.16 22.72 44.86 16.26 19.89 29.32 44.58 36.78 35.82 32.53 38.34
 28.08 23.33 14.49 23.67  2.97 23.47 24.9  48.61 14.76  2.21 27.79 48.09
 26.55 21.32 15.38 34.47 38.48  4.76  1.27 17.05 19.12 23.92 34.09  9.79
 39.15 29.99 33.21  2.29 32.09 48.66 21.69 11.48 46.81  4.96 18.84 42.43
 16.58 10.17 48.26  1.65 23.61  9.34 17.5  12.8  32.24 34.45 15.62 39.18
 40.15 39.29 36.22 21.17 25.92 47.55 33.76 23.5  10.57 20.19 44.   46.56
 45.46  6.49 19.13 26.98 31.39 16.36  9.36 10.2 ]
Total Extra Data Charges: [  0  10  20  40 120 100 130 110  60 140  50  80 150  70  30  90]
Total Long Distance Charges: [381.51  96.21 134.6  ... 356.4   37.24 142.04]
Total Revenue: [ 974.81  610.28  415.45 ...  129.99 4769.69 3707.6 ]
Customer Status: ['Stayed' 'Churned' 'Joined']
Churn Category: [nan 'Competitor' 'Dissatisfaction' 'Other' 'Price' 'Attitude']
Churn Reason: [nan 'Competitor had better devices' 'Product dissatisfaction'
 'Network reliability' 'Limited range of services'
 'Competitor made better offer' "Don't know" 'Long distance charges'
 'Attitude of service provider' 'Attitude of support person'
 'Competitor offered higher download speeds'
 'Competitor offered more data' 'Lack of affordable download/upload speed'
 'Deceased' 'Moved' 'Service dissatisfaction' 'Price too high'
 'Lack of self-service on Website' 'Poor expertise of online support'
 'Extra data charges' 'Poor expertise of phone support']
MRR: [65.92222222 60.26666667 70.2125     ... 46.375      69.06940299
 58.85079365]

In [8]:
columns_null = []
for column in data:
    for x in data[column]:
        if pd.isna(x):
            columns_null.append(column)
            break

In [9]:
data[columns_null] = data[columns_null].replace(np.nan,'No')

In [10]:
data.columns

Index(['Gender', 'Age', 'Married', 'Number of Dependents',
       'Number of Referrals', 'Tenure in Months', 'Offer', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Internet Type',
       'Avg Monthly GB Download', 'Online Security', 'Online Backup',
       'Device Protection Plan', 'Premium Tech Support', 'Streaming TV',
       'Streaming Movies', 'Streaming Music', 'Unlimited Data', 'Contract',
       'Paperless Billing', 'Payment Method', 'Monthly Charge',
       'Total Charges', 'Total Refunds', 'Total Extra Data Charges',
       'Total Long Distance Charges', 'Total Revenue', 'Customer Status',
       'Churn Category', 'Churn Reason', 'MRR'],
      dtype='object')

In [11]:
df = data.drop(columns=['Gender', 'Age','Number of Referrals','Offer', 'Internet Type', 'Avg Monthly GB Download', 'Paperless Billing', 'Payment Method', 'Monthly Charge','Total Charges', 'Total Refunds', 'Total Extra Data Charges',
       'Total Long Distance Charges', 'Total Revenue','Churn Category', 'Churn Reason'])

In [12]:
for column in df:
    print(f'{column}: {df[column].unique()}')

Married: ['Yes' 'No']
Number of Dependents: [0 3 1 2 4 6 5 9 7 8]
Tenure in Months: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42]
Phone Service: ['Yes' 'No']
Multiple Lines: ['No' 'Yes']
Internet Service: ['Yes' 'No']
Online Security: ['No' 'Yes']
Online Backup: ['Yes' 'No']
Device Protection Plan: ['No' 'Yes']
Premium Tech Support: ['Yes' 'No']
Streaming TV: ['Yes' 'No']
Streaming Movies: ['No' 'Yes']
Streaming Music: ['No' 'Yes']
Unlimited Data: ['Yes' 'No']
Contract: ['One Year' 'Month-to-Month' 'Two Year']
Customer Status: ['Stayed' 'Churned' 'Joined']
MRR: [65.92222222 60.26666667 70.2125     ... 46.375      69.06940299
 58.85079365]

In [13]:
df = df.replace(['Yes', 'No'],[1,0])
df = df.replace({'Customer Status': {'Churned': 1, 'Joined': 0, 'Stayed':0}})
df['Number of Dependents'] = df['Number of Dependents'].replace([3, 1, 2, 4, 6, 5, 9, 7, 8], 1)
for column in df:
    print(f'{column}: {df[column].unique()}')

Married: [1 0]
Number of Dependents: [0 1]
Tenure in Months: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42]
Phone Service: [1 0]
Multiple Lines: [0 1]
Internet Service: [1 0]
Online Security: [0 1]
Online Backup: [1 0]
Device Protection Plan: [0 1]
Premium Tech Support: [1 0]
Streaming TV: [1 0]
Streaming Movies: [0 1]
Streaming Music: [0 1]
Unlimited Data: [1 0]
Contract: ['One Year' 'Month-to-Month' 'Two Year']
Customer Status: [0 1]
MRR: [65.92222222 60.26666667 70.2125     ... 46.375      69.06940299
 58.85079365]

In [14]:
scaler = MinMaxScaler()

In [15]:
cols_to_scale = ['Tenure in Months','MRR']
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

In [16]:
for column in df:
    print(f'{column}: {df[column].unique()}')

Married: [1 0]
Number of Dependents: [0 1]
Tenure in Months: [0.11267606 0.04225352 0.16901408 0.02816901 0.98591549 0.87323944
 0.08450704 0.90140845 0.74647887 1.         0.05633803 0.77464789
 0.46478873 0.         0.61971831 0.69014085 0.30985915 0.76056338
 0.35211268 0.95774648 0.50704225 0.67605634 0.91549296 0.92957746
 0.26760563 0.5915493  0.81690141 0.15492958 0.36619718 0.01408451
 0.33802817 0.3943662  0.18309859 0.47887324 0.88732394 0.53521127
 0.54929577 0.14084507 0.07042254 0.4084507  0.97183099 0.78873239
 0.8028169  0.21126761 0.43661972 0.45070423 0.12676056 0.28169014
 0.84507042 0.1971831  0.6056338  0.29577465 0.32394366 0.25352113
 0.64788732 0.85915493 0.63380282 0.71830986 0.09859155 0.83098592
 0.66197183 0.38028169 0.56338028 0.73239437 0.94366197 0.42253521
 0.49295775 0.22535211 0.23943662 0.70422535 0.52112676 0.57746479]
Phone Service: [1 0]
Multiple Lines: [0 1]
Internet Service: [1 0]
Online Security: [0 1]
Online Backup: [1 0]
Device Protection Plan: [0 1]
Premium Tech Support: [1 0]
Streaming TV: [1 0]
Streaming Movies: [0 1]
Streaming Music: [0 1]
Unlimited Data: [1 0]
Contract: ['One Year' 'Month-to-Month' 'Two Year']
Customer Status: [0 1]
MRR: [0.48452704 0.43197832 0.52439024 ... 0.3029036  0.51376913 0.41882271]

In [17]:
reg_data = pd.get_dummies(data=df, columns=['Contract'])

In [18]:
X_train, X_test, y_train, y_test = train_test_split(reg_data.drop(columns=['Customer Status']),reg_data[['Customer Status']],test_size = 0.15)

In [19]:
LogReg = LogisticRegression(solver='lbfgs', max_iter=1000)
LogReg.fit(X_train,y_train.values.ravel())

LogisticRegression(max_iter=1000)

In [20]:
LogReg.score(X_test, y_test)

0.8306527909176916

In [21]:
LogReg.intercept_

array([-1.52218286])

In [22]:
LogReg.coef_

array([[ 0.32488086, -1.55603368, -2.01441321, -1.01539802,  0.21539832,
         0.24742053, -0.58706194, -0.25780914, -0.16663093, -0.50868767,
         0.05441117,  0.12079477, -0.07581146, -0.02212437,  3.29044529,
         1.21993477, -0.03291127, -1.18797287]])

In [23]:
reg_data.columns

Index(['Married', 'Number of Dependents', 'Tenure in Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection Plan', 'Premium Tech Support',
       'Streaming TV', 'Streaming Movies', 'Streaming Music', 'Unlimited Data',
       'Customer Status', 'MRR', 'Contract_Month-to-Month',
       'Contract_One Year', 'Contract_Two Year'],
      dtype='object')

In [24]:
LogReg.predict(X_test)

array([0, 0, 0, ..., 1, 0, 0])

In [25]:
X_test

,Married,Number of Dependents,Tenure in Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,MRR,Contract_Month-to-Month,Contract_One Year,Contract_Two Year
4382,1,0,1.000000,1,1,1,1,1,1,0,1,0,0,1,0.790095,0,0,1
4364,1,0,0.112676,0,0,1,0,0,0,0,0,0,0,1,0.140225,0,1,0
2665,1,0,1.000000,1,1,1,1,1,0,0,1,1,1,0,0.862769,0,1,0
5488,1,0,1.000000,0,0,1,1,0,1,1,1,1,1,1,0.459059,0,0,1
1912,0,0,0.169014,1,0,0,0,0,0,0,0,0,0,0,0.065130,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1441,1,0,0.816901,1,1,1,0,0,1,1,1,0,0,1,0.532629,0,0,1
510,1,1,0.704225,0,0,1,0,0,1,1,1,1,1,1,0.400159,0,1,0
379,0,0,0.112676,1,1,1,0,0,0,0,1,1,1,1,0.727965,1,0,0
5167,0,0,0.760563,1,0,1,0,0,0,0,0,0,0,1,0.288033,0,1,0
3285,0,0,0.028169,1,0,0,0,0,0,0,0,0,0,0,0.061092,1,0,0